<!DOCTYPE html>
<html lang="zh-Hans-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/loading.js" async></script>
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <title>
      <% if (typeof title !== 'undefined') { %>
        Car App - <%= title %>
      <% } %>
    </title>
  </head>
  <body <%= typeof bodyClassName !== 'undefined' ? `class=${bodyClassName}` : ''  _%>>
    <div class="h-100 d-flex flex-column">



